/* You can add global styles to this file, and also import other style files */
:root {
    --bg-primary-colour: #1a1a1a;
    --primary-colour: #f5f5f5;

    /* Font Sizes */
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;

    --font-logo: 'Major Mono Display', monospace;
    --font-body: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--bg-primary-colour);
    color: var(--primary-colour);
    font-family: var(--font-body);
    font-size: var(--font-md);
    line-height: 1.6;
}

p {
    color: var(--primary-colour);
    font-family: var(--font-body);
}

.page-title {
    color: var(--primary-colour);
    font-family: var(--font-body);
    text-decoration: underline;
    text-align: center;
}